@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

  // header
.header{
  // position: fixed;
  // z-index: 100;
  // background-color: #fff;
  // width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
.menu{
  &__btn{
    display: none;
  }
  &__list{
    display: flex;
  }
  &__item:not(:first-child){
    padding-left: 35px;
  }
  &__link{
    font-size: 15px;
    @extend %rubik-500;
    color: #436372;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}
.user-nav{
  display: flex;
  &__item{
    border-radius: 50px;
  }
  &__item-search{
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
  }
  &__item-box{
    display: flex;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin: 0 20px;
  } 
  &__link-box{
    padding: 18px 33px 6px;
    position: relative;
  }
  &__link-box--heart{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #fde7d3;
      top: 10px;
      right: -2px;
    }
  }
    &__num{
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      top: 12px;
      right: 22px;
      font-size: 10px;
      color: #3d525e;
      text-align: center;
      line-height: 18px;
    }
    &__item-list{
      background-color: #a3bbc8;
      width: 50px;
      height: 50px;
    }
    &__img{
      padding: 16px;
    }
  }
}

  // footer
.footer{
  padding: 100px 0 0;
}
  
.footer-top {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
  }
  &__logo{
    margin-bottom: 20px;
  }
  &__adress{
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__adress,
  &__email,
  &__phone{
    display: block;
    margin-bottom: 10px;
  }
  &__title{
    margin-bottom: 20px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
    pointer-events: none;
  }
  &__link{
    margin-bottom: 10px;
    display: block;
  }
  &__text{
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 14px;
    width: 280px;
    margin-bottom: 35px;
  }
  &__form-input{
    padding: 10px 5px;
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    color: #234969;
    font-size: 16px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn{
    @extend %btn;
  }
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 85px;
  &__copy{
    font-size: 14px;
    @extend %rubik-400;
  }
  &__list{
    display: flex;
  }
  &__item:not(:last-child){
    margin-right: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      top: 6px;
      right: -11px;
      background-color: #7b7b7b;
    }
  }
}

  // top-slider
.top-slider{
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  padding: 0 15px 0 15px;
  &__wrapper{
    padding: 50px 100px;
    background-color: #fcd7b6;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    margin-right: 20px;
  }
  &__title{
    margin-bottom: 30px;
    color: #243f4d;
    font-size: 72px;
    @extend %rubik-500;
    line-height: 70px;
  }
  &__text{
    color: #436372;
    font-size: 18px;
    @extend %rubik-400;
    width: 375px;
    margin-bottom: 35px;
  }
  &__link{
    @extend %btn;
    padding: 18px 60px 18px 20px;
    @extend %rubik-500;
    font-size: 15px;
    position: relative;
    &:hover{
      color: #fff;
    }
    &::after {
      content: '';
      background-image: url('../images/iconssvg/arrow-link.svg');
      position: absolute;
      width: 22px;
      height: 9px;
      top: 24px;
      right: 15px;
    }
  }
  &__images{
    overflow: hidden;  
    max-width: 765px;
    padding: 50px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -250px;
    padding: 20px;
    li{
      padding: 0 5px;
      line-height: 1;
      button {
        font-size: 11px;
        color: #708088;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }   
}
.slick-track{
  height: 822px;
}


  // services
.services{
  padding: 0 15px;
  align-items: center;
  
  min-height: 170px;
  max-width: 1560px;
  &__wrapper{
    background-color: #fef7f0;
  }
  &__items{
    padding: 45px 80px;
    display: flex;
    justify-content: space-between; 
  }
  &__item {
    align-items: center;
    padding-left: 80px;
    
    position: relative;
    max-width: 530px;
    
    &::before{
      content: '';
      position: absolute;
      display: block;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
      top: 5px;
      left: 10px;
      margin-bottom: 15px;
    }
  }
  &__item:not(:first-child){
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 186px;
      top: -44px;
      left: -111px;
      background-color: #e8e4df;
    }
  }
  &__item--about::before {
    background-image: url('../images/iconssvg/about-24.svg');
  }
  &__item--truck::before {
    background-image: url('../images/iconssvg/about-truck.svg');
  }
  &__item--card::before {
    background-image: url('../images/iconssvg/about-card.svg');
  }
  &__title {
    margin-bottom: 10px;
    color: #414141;
    font-size: 18px;
    @extend %dmsans-700;
  }
  &__text {
    color: #585858;
    font-size: 16px;
    @extend %dmsans-400;
    margin-bottom: 10px;
    width: 205px;
  }
}


  // product
.product{
  padding: 90px 0 100px;
}
.product-top{
  text-align: center;
  &__list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__item:not(:last-child){
    margin-right: 30px;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &__link--active{
    color: $title;
  }
}
.product-inner{
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 45px;
    margin-bottom: 200px;
  }
  &__item{
    padding: 10px 20px;
    text-align: center; 
    max-width: 250px;
    transition: all .3s;
    &:hover{
      .product-inner__link-box{
        transform: translateY(0);
      }
    }
  }
  &__img-box{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 45px;
    height: 207px; 
    overflow: hidden;
    position: relative;
  }
  &__img{
    object-fit: cover; 
  }
  &__link-box{
    display: flex;
    text-align: center;
    bottom: 10px;
    left: 25px;
    position: absolute;
    transform: translateY(200%);
    transition: all .3s;
  }
  &__link{
    display: inherit;
    background-color: #fff;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    padding: 13px 11px;
    transition: all .3s;
    path{
      transition: all .3s;
    }
  }
  &__link:hover{
    background-color: $accent;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    path{
      fill: #fff;
    }
  }
  &__title{
    color: #243f4d;
    @extend %dmsans-500;
    font-size: 16px;
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    color: $accent;
  }
}
.product-bottom{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  &__item{
    display: flex;
    justify-content: space-between;
    background-color: #feefe2;
    height: 400px;
    padding-left: 275px;
    position: relative;
    width: 100%;
  }
  &__item:not(:last-child){
    margin-right: 30px;
  }
  &__img{
    object-fit: cover;
    height: 390px;
    position: absolute;
    top: -84px;
    left: 40px;
  }
  &__block{
    width: 330px;
    padding: 95px 0;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    color: #243f4d;
    margin-bottom: 20px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__link{
    border: 1px solid #b3b7b5;
    padding: 18px 60px 18px 20px;
    border-radius: 5px;
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
    position: relative;
    &::after{
      content: '';
      background-image: url('../images/iconssvg/arrow-link.svg');
      position: absolute;
      width: 22px;
      height: 9px;
      top: 24px;
      right: 15px;
    }
  }
}


  // design
.design{
  padding: 80px 0;
  &__top{
    text-align: center;
  }
  &__list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__item:not(:last-child){
    margin-right: 30px;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &__link--active{
    color: $title;
  }
}
.design-content{
  margin-bottom: 120px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 90px;
  }
  &__item{
    height: 200px;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f8f8f8;
    object-fit: cover;
    overflow: hidden;
    padding: 17px 25px;
  }
  &__item:nth-child(3){
    background-position: top right;
    background-size: contain;
  }
  &__item:nth-child(5){
    background-position: top right;
    background-size: contain;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
    width: 175px;
  }
  &__subtitle{
    color: $accent;
    font-size: 16px;
    @extend %dmsans-700;
  }
}


  // video
.video {
  // padding: 130px 0;
  &__popup{
    height: 495px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}


  // articles
.articles{
  padding: 80px 0;
  margin-bottom: -260px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 40px;
    color: $title;
  }
  &__link{
    margin-bottom: 40px;
    padding-right: 23px;
    color: #262626;
    font-size: 16px;
    @extend %dmsans-700;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/iconssvg/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 7px;
      height: 11px;
      top: 7px;
      right: 4px;
    }
  }
}
.articles-item {
  display: flex;
  &__link{
    width: 370px;
  }
  &__link:not(:last-child){
    margin-right: 25px;
  }
  &__link-img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  &__block{
    background-color: #fff;
    padding: 25px 30px;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &::before {
      content: 'NEWS';
      position: absolute;
      width: 100px;
      height: 30px;
      top: -17px;
      left: 29px;
      text-align: center;
      background-color: $accent;
      border-radius: 50px;
      text-transform: uppercase;
      color: #fff;
      line-height: 2;
    }
  }
  &__text{
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    min-height: 88px;
  }
  &__box{
    display: flex;
  }
  &__date{
    margin-right: 30px;
  }
  &__date,
  &__admyn{
    padding-left: 20px;
    color: #222933;
    @extend %rubik-400;
    font-size: 12px;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}


  // clients
.clients{
  background-color: #fef7f0;
  padding: 260px 0 80px;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
  // top
.top{
  padding: 50px 100px;
  background-color: #edf1f4;
  text-align: center;
  align-items: center;
  &__title{
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
  }
}
  //  modal
.modal{
  padding-top: 110px;
  &__form{
    max-width: 480px;
    width: 100%;
    margin: 0 auto 115px;
  }
  &__label{
    display: block;
    margin-bottom: 30px;
    color: #436372;
  }
  &__input{
    width: 100%;
    display: block;
    background-color: #fff;
    border: 2px solid #f6f6f6;
    padding: 10px 15px;  
  }
  &__btn{
    width: 100%;
    display: block;
    background-color: $accent;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 14px;
    @extend %rubik-500;
    font-size: 18px;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      border: 2px solid $accent;
      color: #243f4d;
    }
  }
  &__error{
    display: inline-block;
    color: #1f2044;
    margin-bottom: 50px;
    margin-left: 220px;
  }
  &__text{
    margin-bottom: 20px;
    text-align: center;
    color: #436372;
  }
}

.contacts{
  padding: 110px 0 100px;
  text-align: center;
  &__subtitle{
    font-size: 16px;
    color: $accent;
    @extend %dmsans-700;
  }
  &__title{
    color: #436372;
    @extend %dmsans-700;
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.contacts-items{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  &__item{
    padding: 60px 45px;
    text-align: center;
    max-width: 365px;
    width: 100%;
    transition: all .3s;
    border: 3px solid transparent;
    &:hover{
      border: 3px solid $accent;
    }
    svg{
      margin: 0 auto 50px;
      padding: 17px 21px;
      box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
      background-color: rgb(255, 255, 255);
      width: 80px;
      height: 80px;
      transition: all .3s;
      &:hover{
        background-color: $accent;
        border-radius: 20px;
        path{
          fill: #fff;
        }
      }
    } 
  }
  &__link--address{
    svg{
      padding: 18px 24px;
    }
  }
  &__title{
    margin-bottom: 25px;
    @extend %dmsans-700;
    color: #222222;
    font-size: 20px;
  }
  &__text{
    color: #565872;
    font-size: 16px;
    @extend %rubik-400;
    width: 170px;
    margin: 0 auto;
  }
  &__link{
    display: block;
    margin-bottom: 5px;
  }
}
.contacts-inner{
  display: flex;
  justify-content: space-between;
}
.contacts-form{
  display: block;
  text-align: start;
  max-width: 600px;
  width: 100%;
  padding: 5px;
  &__box{
    display: flex;
    margin-bottom: 30px;
  }
  &__label{
    width: 300px;
    margin-right: 5px; 
  }
  &__input{
    padding: 14px 10px;
    width: 100%;
    background-color: #fafafa;
    font-size: 16px;
    // position: relative;
    // &::after{
    //   content: '';
    //   position: absolute;  
    //   top: 5px;
    //   right: 15px;
    // }
  }
  // &__input--name{
  //   background-image: url('../images/iconssvg/name.svg');
  //   background-position: top center;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   width: 15px;
  //   height: 15px;
  // }
  // &__input--email {
  //   background-image: url('../images/iconssvg/mail.svg');
  // }
  
  &__textarea {
    width: 100%;
    display: block;
    height: 225px;
    resize: none;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #fafafa;
  }
  &__btn{
    @extend %btn;
    border-radius: 5px;
    @extend %dmsans-500;
  }
}
#map {
  width: 600px;
  height: 380px;
} 










@import 'media';
