@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .menu{
    &__list{
      display: flex;
    }
    &__item:not(:first-child){
      padding-left: 35px;
    }
    &__link{
      font-size: 15px;
      @extend %rubik-500;
      color: #436372;
      transition: all .3s;
      &:hover{
        color: $accent;
      }
    }
  }
  .user-nav{
    display: flex;
    &__item{
      border-radius: 50px;
    }
    &__item-search{
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
    }
    &__item-box{
      display: flex;
      background-color: #fcd7b6;
      border-radius: 50px;
      margin: 0 20px;
    } 
    &__link-box{
      padding: 18px 33px 6px;
      position: relative;
    }
    &__link-box--heart{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #fde7d3;
        top: 10px;
        right: -2px;
      }
    }
    &__num{
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      top: 12px;
      right: 22px;
      font-size: 10px;
      color: #3d525e;
      text-align: center;
      line-height: 18px;
    }
    &__item-list{
      background-color: #a3bbc8;
      width: 50px;
      height: 50px;
    }
    &__img{
      margin: 15px auto;
    }
  }
}


















@import 'media';
