@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

  // header
.header{
  // position: fixed;
  // z-index: 100;
  // background-color: #fff;
  // width: 100%;
  padding: 40px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .menu{
    &__btn{
      display: none;
    }
    &__list{
      display: flex;
    }
    &__item:not(:first-child){
      padding-left: 35px;
    }
    &__link{
      font-size: 15px;
      @extend %rubik-500;
      color: #436372;
      transition: all .3s;
      &:hover{
        color: $accent;
      }
    }
  }
  .user-nav{
    display: flex;
    &__item{
      border-radius: 50px;
    }
    &__item--search,
    &__item--list{
      background-color: $accent; 
      width: 50px;
      height: 50px;
      transition: all .3s;
      &:hover{
        background-color: #edf1f4;
        path {
            fill: #274250;
        }
      }
      svg{
        transition: all .3s;
        margin: 15px;
      }
    }
    &__item-box{
      display: flex;
      background-color: #fcd7b6;
      border-radius: 50px;
      margin: 0 20px;
    } 
    &__link-box{
      padding: 18px 33px 6px;
      position: relative;
    }
    &__link-box--heart{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #fde7d3;
        top: 10px;
        right: -2px;
      }
    }
    &__num{
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      top: 12px;
      right: 22px;
      font-size: 10px;
      color: #3d525e;
      text-align: center;
      line-height: 18px;
    }
  }
}

  // footer
.footer{
  padding: 100px 0 0;
}
  
.footer-top {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
  }
  &__logo{
    margin-bottom: 20px;
  }
  &__adress{
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__adress,
  &__email,
  &__phone{
    display: block;
    margin-bottom: 10px;
  }
  &__title{
    margin-bottom: 20px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
    pointer-events: none;
  }
  &__link{
    margin-bottom: 10px;
    display: block;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
  &__text{
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 14px;
    width: 280px;
    margin-bottom: 35px;
  }
  &__form-input{
    padding: 10px 5px;
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    color: #234969;
    font-size: 16px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn{
    @extend %btn;
    &:hover{
      border: 1px solid $accent;
      color: $accent;
      background-color: #fff;
    }
  }
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 85px;
  &__copy{
    font-size: 14px;
    @extend %rubik-400;
  }
  &__list{
    display: flex;
  }
  &__item:not(:last-child){
    margin-right: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      top: 4px;
      right: -11px;
      background-color: #7b7b7b;
    }
  }
  &__link{
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}

  // top-slider
.top-slider{
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  padding: 0 15px 0 15px;
  &__wrapper{
    padding: 50px 100px;
    background-color: #fcd7b6;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    margin-right: 20px;
  }
  &__title{
    margin-bottom: 30px;
    color: #243f4d;
    font-size: 72px;
    @extend %rubik-500;
    line-height: 70px;
  }
  &__text{
    color: #436372;
    font-size: 18px;
    @extend %rubik-400;
    width: 375px;
    margin-bottom: 35px;
  }
  &__link{
    @extend %btn;
    padding: 18px 30px 18px 20px;
    @extend %rubik-500;
    font-size: 15px;
    transition: all .3s;
    svg{
      margin-left: 40px;
      transition: all .3s;
    }
    &:hover{
      color: #436372;
      svg{
        path{
          fill: #436372;
        }
      }
    }
  }
  &__images{
    overflow: hidden;  
    max-width: 765px;
    padding: 50px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -60px;
    padding: 20px;
    position: relative;
    z-index: 999;
    li{
      padding: 0 5px;
      line-height: 1;
      button {
        font-size: 11px;
        color: #708088;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }   
}

.top-slider__inner {
  height: 530px;
}
  // services
.services{
  padding: 0 15px;
  align-items: center;
  min-height: 170px;
  max-width: 1560px;
  &__wrapper{
    background-color: #fef7f0;
  }
  &__items{
    display: flex;
    justify-content: space-between; 
  }
  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 45px 10px;
    flex-grow: 1;
    &::before{
      display: block;
      margin-right: 30px;
    }
  }
  &__item:nth-child(2){
    border-left:1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
    flex-grow: 0;
    padding-left: 80px;
    padding-right: 80px;
  }
  &__item--about::before {
    content: url('../images/iconssvg/about-24.svg');
  }
  &__item--truck::before {
    content: url('../images/iconssvg/about-truck.svg');
  }
  &__item--card::before {
    content: url('../images/iconssvg/about-card.svg');
  }
  &__title {
    margin-bottom: 10px;
    color: #414141;
    font-size: 18px;
    @extend %dmsans-700;
  }
  &__text {
    color: #585858;
    font-size: 16px;
    @extend %dmsans-400;
    margin-bottom: 10px;
    width: 205px;
  }
}


  // product
.product{
  padding: 120px 0;
  &__wrapper{
    display: flex;  
  }
}
.product-slide{
  display: flex;
  height: 530px;
  .slick-vertical .slick-slide{
    height: 160px;
    margin-bottom: 30px;
  }
  &__thumb {
    width: 140px;
    margin-right: 30px;
  }
  &__thumb-item {
    margin-bottom: 30px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    img {
      width: 110px;
      margin: 0 auto;
      height: 160px;
      object-fit: contain;
    }
  }
  &__big {
    width: 385px;
    border: 1px solid #f2f2f2;
    padding: 60px;
    img {
      width: 230px;
      height: 405px;
      object-fit: cover;
    }
  } 
}
.product-related{
  padding-top: 80px;
  &__title{
    color: #243f4d;
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 90px;
  }
  &__slider{
    .slick-next,
    .slick-prev {
      position: absolute;
      width: 50px;
      height: 50px;
      padding: 8px;
      padding: 5px;
      border: 2px solid #edf1f4;
      border-radius: 5px;
      top: -141px;
      right: 10px;
      transition: all .3s;
      &:hover{
        border: 2px solid $accent;
      }
      img{
        margin: 0 auto;
        width: 22px;
        height: 9px;
      }
    }
    // .slick-disabled {
    //   background-color: #fff;
    //   path {
    //     fill: $accent;
    //   }
    // }
    .slick-prev {
      right: 80px;
    }
  }
  &__content{
    padding: 15px 20px;
    position: relative;
  }
}
.product-one{
  padding-bottom: 100px;
  
  &__inner{
    display: flex;
  }
  &__slide {
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 550px;
    padding: 30px 0;
  }
  &__title{
    margin-bottom: 15px;
    color: #333333;
    font-size: 40px;
    @extend %rubik-400;
  }
  .jq-ry-container{
    margin-bottom: 25px;
  }
  &__price{
    margin-bottom: 25px;
    color: #333333;
    font-size: 30px;
    @extend %rubik-400;
  }
  &__text{
    margin-bottom: 35px;
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__btn {
    display: inline-block;
    @extend %btn;
    margin-bottom: 60px;
    padding: 14px 50px;
    text-transform: uppercase;
    font-size: 16px;
    @extend %rubik-400;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      color: $accent;
      border: 2px solid $accent;
    }
  }
  &__link{
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-400;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}  
.jq-number__field {
  width: 150px;
  border: 1px solid $accent;
  border-radius: 0;
  box-shadow: none;
  transform: translateY(-1px);
}
.jq-number__field input {
  width: 100%;
  height: 52px;
  outline: none;
  @extend %rubik-400;
  font-size: 16px;
  color: #333333;
  text-align: center;
}
.jq-number {
  padding: 0;
  margin-right: 15px;
  position: relative;
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 52px;
  border: 1px solid $accent;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  background-color: #fff;
  cursor: pointer;
}
.jq-number__spin.minus {
  left: 0;
  top: 0;
}
.jq-number__spin.minus:after {
  top: 25px;
  width: 12px;
  height: 2px;
  background-color: #333333;
  border-top: none;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}
.jq-number__spin.plus {
  right: 0;
}
.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 18px;
  width: 12px;
  height: 2px;
  border-top: none;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
  background-color: #333333;
}
.number-plus-minus .jq-number__spin:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 10px;
  width: 12px;
  height: 2px;
  border: none;
  background: #666;
}
.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 23px;
  width: 1px;
  height: 12px;
  background-color: #333333;
}
.product-tabs{
  &__top{
    margin-bottom: 40px;
    text-align: center;
  }
  &__top-item{
    background-color: #edf1f4;
    padding: 15px 20px;
    color: #243f4d;
    font-size: 18px;
    display: inline-block;
    @extend %rubik-500;
    margin-right: 15px;
    border-radius: 5px;
    width: 240px;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
      border: 2px solid $accent;
      color: $accent;
    }
  }
  &__top-item--active{
    color: #fff;
    background-color: $accent;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: #fff;
    }
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
  &__content-text{
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
    line-height: 26px;
    margin-bottom: 30px;
  }
}
.product-top{
  text-align: center;
  &__list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__item:not(:last-child){
    margin-right: 30px;
  }
  &__btn{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  .mixitup-control-active{
    color: $title;
    font-size: 18px;
  }
}
.product-inner{
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 45px;
    margin-bottom: 200px;
  }
  &__item{
    padding: 10px 20px;
    text-align: center; 
    max-width: 250px;
    transition: all .3s;
    &:hover{
      .product-inner__link-box{
        transform: translateY(0);
      }
    }
  }
  &__img-box{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 45px;
    height: 207px; 
    overflow: hidden;
    position: relative;
  }
  &__img{
    object-fit: cover; 
  }
  &__link-box{
    display: flex;
    text-align: center;
    bottom: 10px;
    left: 25px;
    position: absolute;
    transform: translateY(200%);
    transition: all .3s;
  }
  &__link{
    display: inherit;
    background-color: #fff;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    padding: 13px 11px;
    transition: all .3s;
    path{
      transition: all .3s;
    }
  }
  &__link:hover{
    background-color: $accent;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    path{
      fill: #fff;
    }
  }
  &__title{
    color: #243f4d;
    @extend %dmsans-500;
    font-size: 16px;
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    color: $accent;
  }
}
.product-list{
  max-width: 870px;
  width: 100%;
  padding-top: 40px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 75px 35px;
    margin-bottom: 0;
  }
}
.product-cart{
  &__items{
    display: block;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__img-box{
    border: 1px solid #f2f2f2;
    padding: 50px 20px;
    max-width: 370px;
    height: 500px;
    width: 100%;
    margin-right: 50px;
  }
  &__img{
    margin: 0 auto;
    width: 320px;
    height: 350px;
    overflow: hidden;
    object-fit: contain;
  }
  &__box{
    padding: 20px 15px;
  }
  &__title{
    color: #333333;
    font-size: 40px;
    @extend %rubik-400;
    margin-bottom: 10px;
  }
  &__price{
    padding-bottom: 30px;
    color: #333333;
    font-size: 30px;
    @extend %rubik-400;
  }
  &__text{
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-400;
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__btn{
    display: inline-block;
    @extend %btn;
    margin-bottom: 30px;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 16px;
    @extend %rubik-400;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      color: $accent;
      border: 2px solid $accent;
    }
  }
  .star{
    margin-bottom: 20px;
  }
  &__link{
    display: inline-block;
    border-radius: 5px;
    padding: 12px 14px;
    margin-right: 10px;
    transition: all .3s;
    &:hover{
      background-color: $accent;
      path{
        fill: #fff;
      }
    }
  }
}
.product-bottom{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  &__item{
    display: flex;
    justify-content: space-between;
    background-color: #feefe2;
    height: 400px;
    padding-left: 275px;
    position: relative;
    width: 100%;
  }
  &__item:not(:last-child){
    margin-right: 30px;
  }
  &__img{
    object-fit: cover;
    height: 390px;
    position: absolute;
    top: -84px;
    left: 40px;
  }
  &__block{
    width: 330px;
    padding: 95px 0;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    color: #243f4d;
    margin-bottom: 20px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__link{
    border: 1px solid #b3b7b5;
    padding: 18px 20px 18px 20px;
    border-radius: 5px;
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
    transition: all .3s;
    svg{
      margin-left: 35px;
    }
    &:hover{
      color: $accent;
      svg{
        path{
          fill: $accent;
        }
      }
    }
  }
}


  // design
.design{
  padding: 110px 0;
  &__top{
    text-align: center;
  }
  &__list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__list-item:not(:last-child){
    margin-right: 30px;
  }
  &__btn{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  .mixitup-control-active{
    color: $title;
    font-size: 18px;
  }
}
.design-content{
  margin-bottom: 120px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 90px;
  }
  &__item{
    height: 200px;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f8f8f8;
    object-fit: cover;
    overflow: hidden;
    padding: 17px 25px;
  }
  &__item:nth-child(3){
    background-position: top right;
    background-size: contain;
  }
  &__item:nth-child(5){
    background-position: top right;
    background-size: contain;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
    width: 175px;
  }
  &__subtitle{
    color: $accent;
    font-size: 16px;
    @extend %dmsans-700;
  }
}


  // video
.video {
  padding: 100px 0;
  &__popup{
    height: 495px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__play:hover{
    transform: scale(1.5);
  }
}


  // articles
.articles{
  padding: 80px 0;
  margin-bottom: -60px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 40px;
    color: $title;
  }
  &__link{
    margin-bottom: 40px;
    padding-right: 12px;
    color: #262626;
    font-size: 16px;
    @extend %dmsans-700;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
    svg{
      margin-left: 10px;
      transition: all .3s;
    }
    &:hover{
      svg{
        path{
          fill: $accent;
        }
      }
    }
  }
}
.articles-item {
  display: flex;
  &__link{
    width: 370px;
  }
  &__link:not(:last-child){
    margin-right: 25px;
  }
  &__link-img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  &__block{
    background-color: #fff;
    padding: 25px 30px;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &::before {
      content: 'NEWS';
      position: absolute;
      width: 100px;
      height: 30px;
      top: -17px;
      left: 29px;
      text-align: center;
      background-color: $accent;
      border-radius: 50px;
      text-transform: uppercase;
      color: #fff;
      line-height: 2;
    }
  }
  &__text{
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    min-height: 88px;
  }
  &__box{
    display: flex;
  }
  &__date{
    margin-right: 30px;
  }
  &__date,
  &__admyn{
    padding-left: 20px;
    color: #222933;
    @extend %rubik-400;
    font-size: 12px;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}


  // clients
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clients{
  background-color: #fef7f0;
  padding: 80px 0;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
  // top
.top{
  padding: 50px 100px;
  background-color: #edf1f4;
  text-align: center;
  align-items: center;
  &__title{
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
  }
}
  //  modal
.modal{
  padding: 100px 0;
  &__form{
    max-width: 480px;
    width: 100%;
    margin: 0 auto 115px;
  }
  &__label{
    display: block;
    margin-bottom: 30px;
    color: #436372;
  }
  &__input{
    width: 100%;
    display: block;
    background-color: #fff;
    border: 2px solid #f6f6f6;
    padding: 10px 15px;
    transition: all .3s;
    &:hover{
      border: 2px solid $accent;
    }
  }
  &__btn{
    width: 100%;
    display: block;
    background-color: $accent;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 14px;
    @extend %rubik-500;
    font-size: 18px;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      border: 2px solid $accent;
      color: #243f4d;
    }
  }
  &__error{
    display: inline-block;
    color: #1f2044;
    margin-bottom: 50px;
    margin-left: 220px;
  }
  &__text{
    margin-bottom: 20px;
    text-align: center;
    color: #436372;
  }
}

.contacts{
  padding: 110px 0 100px;
  text-align: center;
  &__subtitle{
    font-size: 16px;
    color: $accent;
    @extend %dmsans-700;
  }
  &__title{
    color: #436372;
    @extend %dmsans-700;
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.contacts-items{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  &__item{
    padding: 60px 45px;
    text-align: center;
    max-width: 365px;
    width: 100%;
    transition: all .5s;
    border: 3px solid transparent;
    &:hover{
      border: 3px solid $accent;
      svg{
        background-color: $accent;
        border-radius: 20px;
          path {
            fill: #fff;
          }
        }
      }
    }
    svg{
      margin: 0 auto 50px;
      padding: 17px 21px;
      box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
      background-color: rgb(255, 255, 255);
      width: 80px;
      height: 80px;
      transition: all .3s; 
  }
  &__link--address{
    svg{
      padding: 18px 24px;
    }
  }
  &__title{
    margin-bottom: 25px;
    @extend %dmsans-700;
    color: #222222;
    font-size: 20px;
  }
  &__text{
    color: #565872;
    font-size: 16px;
    @extend %rubik-400;
    width: 170px;
    margin: 0 auto;
  }
  &__list{
    display: block;
  }
  &__list-text{
    font-size: 16px;
    color: #565872;
    @extend %rubik-400;   
  }
  &__link{
    font-size: 16px;
    color: #565872;
    @extend %rubik-400;
    margin-left: 5px;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}
.contacts-inner{
  display: flex;
  justify-content: space-between;
}
.contacts-form{
  display: block;
  text-align: start;
  max-width: 600px;
  width: 100%;
  margin-right: 15px;
  &__box{
    display: flex;
    margin-bottom: 30px;
  }
  &__label{
    width: 300px; 
    position: relative;
  }
  &__input{
    padding: 14px 10px;
    width: 100%;
    background-color: #fafafa;
    font-size: 16px;
    border: 1px solid transparent;
    transition: all .3s;
    &:hover{
      border: 1px solid $accent;
    }
    &:hover::placeholder {
      color: $accent;
    }
  } 
  &__img{
    position: absolute;
    top: 19px;
    right: 5px;
  }
  &__img-message{
    top: 15px;
  }
  &__box{
    position: relative;
  }
  &__textarea{
    width: 100%;
    display: block;
    height: 225px;
    resize: none;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #fafafa;
    position: relative;
    border: 1px solid transparent;
    transition: all .3s;
      &:hover{
        border: 1px solid $accent;
    }
    &:hover::placeholder {
      color: $accent;
    }
  }
  &__btn{
    @extend %btn;
    border-radius: 5px;
    @extend %dmsans-500;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
      color: $accent;
      background-color: #fff;
      border: 2px solid $accent;
    }
  }
}
#map {
  width: 600px;
  height: 380px;
} 

  // terms
.terms{
  padding: 90px 0 100px;
  &__title{
    margin-bottom: 20px;
    color: #243f4d;
    font-size: 24px;
    @extend %rubik-500;
  }
  &__list{
    padding: 0 15px;
    margin-bottom: 60px;
  }
  &__item:not(:last-child){
    margin-bottom: 25px;
  }
  &__text{
    @extend %rubik-400;
    color: #243f4d;
    font-size: 16px;
  }
  &__wrapper:not(:last-child){
    margin-bottom: 40px;
  }
}

  // about
.about{
  padding: 115px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__img{
    overflow: hidden;
    object-fit: cover;
    max-width: 570px;
    width: 100%;
    margin-right: 30px;
  }
}
.about-inner{
  padding: 80px 5px;
  &__box{
    display: flex;
    align-items: center;
  }
  &__number{
    font-size: 140px;
    @extend %rubik-500;
    color: $accent;
    margin-right: 30px;
  }
  &__subtitle{
    width: 128px;
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__title{
    margin-bottom: 20px;
    color: #243f4d;
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__text{
    padding-bottom: 50px;
    border-bottom: 1px solid $accent;
    width: 550px;
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__block{
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
  }
  &__block-items:nth-child(2){
    border-left: 1px solid $accent;
    border-right: 1px solid $accent;
  }
  &__block-items{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 20px;
    width: 190px;
    &::before{
      display: block;
    }
  }
  &__block-items:nth-child(1) {
    padding-left: 10px;
  }
  &__block-items--project::before{
    content: url('../images/iconssvg/project.svg');
  }
  &__block-items--revenue::before {
    content: url('../images/iconssvg/revenue.svg');
  }
  &__block-items--awards::before {
    content: url('../images/iconssvg/awards.svg');
  }
  &__block-numbers{
    color: #243f4d;
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__block-text{
    margin-bottom: 20px;
    color: #4c4c4c;
    font-size: 16px;
    @extend %dmsans-700;
  }
}
.about-bottom{
  padding: 80px 0;
  background-color: #fcd7b6;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__item{
    padding: 30px 10px;
    &::before{
      display: block;
      margin-bottom: 10px;
    }
  }
  &__item--rate::before{
    content: url('../images/iconssvg/rate.svg');
  }
  &__item--delivery::before{
    content: url('../images/iconssvg/deliver.svg');
  }
  &__item--time::before{
    content: url('../images/iconssvg/time.svg');
  }
  &__item--store::before{
    content: url('../images/iconssvg/store.svg');
  }
  &__numbers{
    color: #243f4d;
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__text{
    color: #243f4d;
    font-size: 18px;
    @extend %dmsans-700;
  }
}

  // team
.team{
  padding: 100px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__item--text{
    width: 300px;
    margin-right: 40px;
    padding: 15px 0;
  }
  &__title{
    margin-bottom: 20px;
    color: #243f4d;
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__text{
    margin-bottom: 40px;
    line-height: 27px;
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__link{
    @extend %btn;
    font-size: 16px;
    transition: all .3s;
    border: 1px solid transparent;
    &:hover{
      color: #436372;
      background-color: #fff;
      border:  1px solid #436372;
      path {
        fill: #436372;
      }
    }
    svg{
      transition: all .3s;
      margin-left: 20px;
    } 
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    max-width: 370px;
    height: 380px;
    position: relative;
  }
  &__img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    max-height: 320px;
    
  }
  &__item-box{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
    bottom: -5px;
  }
  &__item-title{
    margin-bottom: 5px;
    font-size: 22px;
    color: #436372;
    @extend %dmsans-700;
  }
  &__item-text{
    margin-bottom: 5px;
    color: #565872;
    font-size: 16px;
    @extend %rubik-400;
  }
}
.team-social{
  padding: 5px;
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item:not(:last-child){
    margin-right: 15px;
  }
  &__item{
    background-color: #f6f6f6;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 9px;
  }
  &__link{
    transition: all .3s;
    &:hover{
      svg{
        path{
          fill: $accent;
        }
      }
    }
  }
}

.blog-detalis{
  padding: 115px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__one{
    max-width: 830px;
    margin-right: 30px;
  }
  &__img-box{
    position: relative;
    margin-bottom: 40px;
  }
  &__img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  &__box{
    background-color: $accent;
    max-width: 300px;
    padding: 20px 10px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__date,
  &__name{
    color: #fff;
    font-size: 16px;
    @extend %rubik-400;
    
  }
  &__date{
    margin-right: 20px;
    &::before{
      content: url('../images/iconssvg/calendar-blog-white.svg');
    }
  }
  &__name{
    &::before{
      content: url('../images/iconssvg/admyn-blog.svg');
    }
  }
  &__title{
    margin-bottom: 20px;
    color: #333333;
    font-size: 36px;
    @extend %rubik-400;
  }
  &__subtitle{
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-500;
    margin-bottom: 15px;
  }
  &__text{
    margin-bottom: 30px;
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__blockquote{
    padding: 25px 35px;
    border-left: 6px solid #a3bbc8;
    margin-bottom: 40px;
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-400;
    background-color: #edf1f4;
  }
  &__author{
    padding: 20px 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 21px;
      height: 3px;
      background-color: #a3bbc8;
      top: 31px;
      left: 3px;
    }
  }
  &__images{
    float: left;
    margin-right: 30px;
    object-fit: cover;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 25px 0;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 70px;
    margin-top: 50px;
  }
  &__designer{
    display: flex;
    align-items: center;
  }
  &__photo{
    margin-right: 25px;
  }
  &__inner-title{
    font-size: 18px;
    color: #333333;
    @extend %rubik-500;
  }
  &__inner-text{
    color: #666666;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__item{
    display: block;
  }
  &__item-box{
    display: flex;
  }
  &__item-box--top{
    margin-bottom: 10px;
  }
  &__item-title{
    margin-right: 20px;
    color: #333333;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__list{
    display: flex;
    align-items: center;
  }
  &__list-item:not(:last-child){
    margin-right: 15px;
  }
  &__link{
    transition: all .3s;
    &:hover{
      svg{
        path{
          fill: $accent;
        }
      }
    }
  }
}
.comments{
  margin-bottom: 80px;
  &__title{
    margin-bottom: 30px;
    color: #436372;
    font-size: 24px;
    @extend %rubik-500;
  }
  &__items{
    display: flex; 
    align-items: center;
  }
  &__items--inner{
    margin-left: 130px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
  }
  &__images{
    display: block;
    margin-right: 30px;
    height: 100px; 
    align-items: center; 
  }
  &__img{
    display: block;
    overflow: hidden;
    object-fit: contain;
    max-width: 100px;
  }
  &__item{
    padding: 30px 0;
  }
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__name{
    font-size: 16px;
    color: #436372;
    @extend %rubik-500;
  }
  &__date{
    font-size: 14px;
    color: #9e9e9e;
    @extend %rubik-400;
  }
  &__text{
    margin-bottom: 25px;
    color: #565872;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__link{
    color: #3d525e;
    font-size: 16px;
    @extend %rubik-400;
    &::after{
      content: url('../images/iconssvg/arrow-right-solid.svg');
    }
  }
}
.comments-form{
  display: block;
  max-width: 830px;
  width: 100%;
  &__title{
    margin-bottom: 40px;
    color: #436372;
    font-size: 24px;
    @extend %rubik-500;
  }
  &__box{
    display: flex;
    margin-bottom: 30px;
  }
  &__label{
    min-width: 400px;
    width: 100%;
    position: relative;
    margin-right: 30px;
  }
  &__input{
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #e5e5e5;
    color: #999999;
    font-size: 16px;
    @extend %rubik-400;
    transition: all .3s;
    &:hover{ 
      border: 1px solid $accent;
    }
  }
  &__img{
    position: absolute;
    top: 19px;
    right: 15px;
  }
  &__img-message{
    top: 15px;
    right: 15px;
  }
  &__box {
    position: relative;
  }
  &__textarea{
    width: 100%;
    resize: none;
    color: #999999;
    font-size: 16px;
    @extend %rubik-400;
    padding: 15px 20px;
    height: 125px;
    display: block;
    margin-bottom: 25px;
    position: relative;
    border: 1px solid #e5e5e5;
    transition: all .3s;
    &:hover{
      color: #333333;
      border: 1px solid $accent;
    }
  }
  &__btn{
    @extend %btn;
    text-transform: uppercase;
    border: 2px solid transparent;
    @extend %rubik-400;
    transition: all .3s;
    &:hover{
      color: $accent;
      background-color: #fff;
      border: 2px solid $accent;
    }
  }
}
.filter{
  width: 270px;
  margin-right: 30px;
  &__item{
    margin-bottom: 70px;
  }
  &__title{
    display: inline-block;
    text-transform: uppercase;
    color: #243f4d;
    font-size: 18px;
    @extend %dmsans-700;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      top: 11px;
      margin-left: 15px;
      background-color: $accent;
    }
  }
}
.filter-search{
  &__form{
    display: flex;
  }
  &__input{
    padding: 10px 15px;
    border: 2px solid #edf1f4;
    width: 220px;
    border-radius: 5px;
    margin-right: -5px;
  }
  &__btn{
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
  }
}
.filter-category{
&__label{
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
  &:last-child{
    margin-bottom: 0;
  }
}
&__input{
  @extend %checkbox-hidden;
  &:checked+.filter-category__checkbox{
    background-color: #edf1f4;
    color: #243f4d;
  }
}
&__checkbox{
    color: #243f4d;
    border-radius: 5px;
    font-size: 16px;
    @extend %rubik-500;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    position: relative;
    &::after{
      content: url('../images/iconssvg/filter-category.svg');
    }
  }
}
.filter-price{
  &__label{
    align-items: center;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}
.irs--flat .irs-line{
  top: 13px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0;
}
.irs--flat .irs-handle{
  top: 5px;
  width: 18px;
  height: 18px;
  background-color: $accent;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-bar{
  top: 13px;
  height: 4px;
  background-color: $accent;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
  display: none;
}
.irs--flat .irs-min,
.irs--flat .irs-max{
  display: none;
}
.irs--flat{
  height: 30px;
}
.filter-brand{
  &__label{
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked+.filter-brand__checkbox{
      background-color: #edf1f4;
      color: #243f4d;
      &>.filter-brand__number{
        color: #243f4d;
      }
    }
  }
  &__checkbox{
    color: #243f4d;
    border-radius: 5px;
    font-size: 16px;
    @extend %rubik-500;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
  }
  &__number{
    color: #b3b3b3;
  }
}
.resent{
  &__items{
    display: block;
  }
  &__item{
    display: flex;
    margin-bottom: 30px;
  }
  &__link-img{
    border: 1px solid #f2f2f2;
    padding: 3px 6px;
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  &__img{
    overflow: hidden;
    object-fit: cover;
    margin: 0 auto;
  }
  &__text{
    margin-bottom: 10px;
    color: #333333;
    font-size: 14px;
    @extend %rubik-400;
  }
  &__price{
    color: #333333;
    font-size: 15px;
    @extend %rubik-400;
  }
}
.star{
  margin-bottom: 10px;
  svg{
    width: 12px;
    height: 12px;
  }
}
.resent-post{
  max-width: 275px;
  &__item{
    display: flex;
    margin-bottom: 20px;
  }
  &__img-link{
    margin-right: 20px;
  }
  &__img{
    object-fit: cover;
    overflow: hidden;
    min-width: 70px;
  }
  &__box-title{
    color: #333333;
    @extend %rubik-400;
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__box-date{
    color: #7b7b7b;
    &::before{
      content: url('../images/iconssvg/calendar-blog.svg');
    }
  }
}






@import 'media';
